.card-wrapper{
	position: absolute;
	width: 200px;
	height: 200px;
}

.card-content {
	position: absolute;
	color: #fff;
}

.card-bg {
	position: absolute;
	background: #336699;
	width: 200px;
	height: 200px;
}